<div id="wrapper"> 

  <div id="header"> 

    <div class="top_banner">
      <h1>Per Vaikala</h1>
      <p>Sei allathu sethu madi</p>
    </div>
 
  </div>

  <div id="page_content">
	<div class="navigation">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="about">AboutUs</a></li>
        <li><a routerLink="contact">contactus</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Extra</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
    <!--start footer from here-->
    <div id="footer">Copyright &copy; 2018. Design by <a href="http://www.htmltemplates.net" target="_blank">Muthumani.G</a><br>
    
    </div>
	
  </div>

</div>

